.pure-button.pure-button-xsmall
  font-size: 70%

body
  width: 600px
  margin: 0 auto
  background-color: silver
  border: 1px solid black
  .container
    width: 600px
    h1, h3
      text-align: center
      float: none
      width: 100%
    #chart
      display: block
      margin: 0 auto
      box-shadow: 0px 0px 25px
      background-color: white
    button
      margin-bottom: 10px
    .convert-form
      display: block
      margin: 0 auto
      text-align: center
      a
        margin: auto
        float: none
